{:paths ["bb"]
 :deps  {org.clojure/clojure                    {:mvn/version "1.11.3"}
         clockworksio/clci                      {:git/url "https://github.com/clockworksio/clci"
                                                 :git/tag "clci-0.25.2" 
                                                 :git/sha "9bfa874cf07ab7ecaa5d642e53794819721f71eb"}
         action.impl/action                     {:local/root "./action"}
         }
 
 :aliases         {:format      {:deps          {mvxcvi/cljstyle                       {:mvn/version "0.15.0"}}}
                   :nREPL       {:extra-deps    {nrepl/nrepl                           {:mvn/version "1.3.0"}}}}}